/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.bg-img-chevron {
  background-image: url("data:image/svg+xml;charset=utf8,\a%3Csvg width='8' height='12' xmlns='http://www.w3.org/2000/svg'%3E\a   %3Cpath d='M1 1l4.802 4.82L1 11' stroke='%23cccccc' stroke-width='2' fill='none' fill-rule='evenodd'/%3E\a%3C/svg%3E\a");
}

.bg-pos-y-center{
  background-position-y: center;
}

.bg-pos-x-right{
  background-position-x: right;
}

.bg-img-chevron-header{
  background-image: url("data:image/svg+xml;charset=utf8,\a%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E\a   %3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E\a     %3Ccircle cx='10' cy='10' r='9' stroke='%23ECECEC'/%3E\a     %3Cpath stroke='%23085FF7' d='M6 8l4.001 4.001L14.09 8'/%3E\a   %3C/g%3E\a%3C/svg%3E\a");
}

.rotate-0 {
  transform: rotate(0);
}

.rotate-180 {
  transform: rotate(180deg);
}

.bg-img-title {
  background-image: url("data:image/svg+xml;charset=utf8,\a%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E\a     %3Cdefs%3E\a         %3Cpath id='a' d='M9 18h2v-2H9v2zm-1 1h4v-4H8v4zm1-7h2v-2H9v2zm-1 1h4V9H8v4zm8-12L4 6v17h16V6h-4V1zM6 7.332L14 4v4h4v13H6V7.332z'/%3E\a     %3C/defs%3E\a     %3Cg fill='none' fill-rule='evenodd'%3E\a         %3Cpath fill='%23FFD35C' d='M8 19h4v-4H8zM8 13h4V9H8z'/%3E\a         %3Cuse fill='%23000' xlink:href='%23a'/%3E\a     %3C/g%3E\a%3C/svg%3E\a");
}

.bg-img-dollar {
  background-image: url("data:image/svg+xml;charset=utf8,\a%3Csvg width='20' height='27' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E\a  %3Cdefs%3E\a    %3Cpath id='a' d='M0 18.467h20V27l-5.881-2.16L10 27l-4.015-2.16L0 27z'/%3E\a  %3C/defs%3E\a  %3Cg fill='none' fill-rule='evenodd'%3E\a    %3Cg%3E\a      %3Cuse fill='%23F6C74A' xlink:href='%23a'/%3E\a      %3Cpath stroke='%23000' d='M.5 18.967v7.321l5.525-1.994 3.978 2.14 4.08-2.14 5.417 1.99v-7.317H.5z'/%3E\a    %3C/g%3E\a    %3Cpath d='M1 1v24.576l5.066-1.828 3.94 2.12 4.041-2.12L19 25.568V1H1z' stroke='%23000' stroke-width='2'/%3E\a    %3Cg fill='%23000'%3E\a      %3Ctext font-family='HelveticaNeue-Bold, Helvetica Neue' font-size='12' font-weight='bold' transform='translate(6 1.66)'%3E\a        %3Ctspan x='0' y='12'%3ES%3C/tspan%3E\a      %3C/text%3E\a      %3Cpath d='M9.5 3.66h1v2h-1zM9.5 13.41h1v2h-1z'/%3E\a    %3C/g%3E\a  %3C/g%3E\a%3C/svg%3E\a");
}

.bg-img-money {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='16'%3E%3Cdefs%3E%3Cpath id='a' d='M9.946 5.963c1.094 0 1.984.89 1.984 1.984 0 1.095-.89 1.985-1.984 1.985a1.986 1.986 0 0 1-1.984-1.985c0-1.094.89-1.984 1.984-1.984zm0 4.969a2.987 2.987 0 0 0 2.984-2.985 2.987 2.987 0 0 0-2.984-2.984 2.987 2.987 0 0 0-2.984 2.984 2.987 2.987 0 0 0 2.984 2.985zm6.675-1.126h-1v1.614h-1.617v1h2.617V9.806zm-10.625 1.61H4.379V9.799h-1v2.617h2.617v-1zM4.379 4.58h1.617v-1H3.379v2.614h1V4.58zM0 .5h20v15H.007L0 .5zm18.013 13.005h-.001V2.5H2.007l.004 11.004h16.002zM15.62 6.2V4.583h-1.617v-1h2.617V6.2h-1z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23000' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%23000' d='M-2-4h24v24H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-img-insight {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cpath id='a' d='M4.912 6.043L6.09 8.52a5.872 5.872 0 0 1-3.085.917H2.97v-.002A5.98 5.98 0 0 1 .037 8.64l1.178-2.596h3.697zM2.714 4.027A1.57 1.57 0 1 1 2.716.886a1.57 1.57 0 1 1-.002 3.14z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(13 8)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23FFD35C' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%23FF5A1F' d='M-13-8h24v24h-24z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M15.71 11.391a.93.93 0 1 1 0-1.859.94.94 0 0 1 .93.93.93.93 0 0 1-.93.93m0-2.86a1.929 1.929 0 1 0-.003 3.858 1.929 1.929 0 0 0 .002-3.858m-9.35.389l-1.17.16.83.85-.21 1.17 1.05-.54 1.03.57-.19-1.18.85-.83-1.16-.18-.5-1.082-.53 1.062zm0 4.3l-1.17.16.83.84-.21 1.18 1.05-.55 1.03.57-.19-1.179.85-.822-1.16-.189-.5-1.08-.53 1.07zm13.37 2.628l-1.238-2.583h-4.574l-1.279 2.718a5.242 5.242 0 0 1-1.85-3.983 5.313 5.313 0 0 1 3.98-5.186 5.328 5.328 0 0 1 6.01 2.587 5.302 5.302 0 0 1-1.05 6.447zm-3.65 1.45a5.276 5.276 0 0 1-2.589-.704l1.04-2.292h3.265l1.04 2.188a5.193 5.193 0 0 1-2.725.81h-.03v-.002zm.53 2.627H4.52V4.074h12.09v1.62a4.521 4.521 0 0 0-.53 0c-3.508 0-6.352 2.835-6.354 6.335-.001 3.5 2.841 6.34 6.35 6.342h.004c.177.008.354.008.53 0v1.555zm2.08-13.694V2H2.439v20h16.25v-4.232A6.316 6.316 0 0 0 22.439 12a6.316 6.316 0 0 0-3.75-5.768z'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-img-cup {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23'%3E%3Cg fill='none'%3E%3Cpath fill='%23000' d='M19.52 3.277V.425H4.571v2.853H.103v1.15c0 .931.446 8.866 4.697 9.36a6.871 6.871 0 0 0 6.103 5.394v1.265H6.65v2.162h10.7v-2.197h-4.263v-1.264A6.87 6.87 0 0 0 19.2 13.8c4.217-.518 4.629-8.418 4.663-9.35V3.3l-4.343-.022zM2.377 5.428h2.194v5.98c-1.325-.84-1.988-3.806-2.205-5.98h.011zm14.994 5.647c0 2.61-.925 5.75-5.36 6.003-4.422-.242-5.348-3.393-5.348-6.003V2.588H17.37v8.486zm2.138.31a2.928 2.928 0 0 0 0-.31V5.428h2.114c-.206 2.15-.857 5.095-2.114 5.957z'/%3E%3Cpath fill='%23FF5A1F' d='M11.966 10.775L9.76 11.938l.423-2.461L8.4 7.728l2.469-.356 1.097-2.243 1.097 2.243 2.457.356-1.783 1.748.423 2.461z'/%3E%3Cpath fill='%23000' d='M9.051 12.926l.56-3.266-2.354-2.3 3.246-.46 1.463-2.99 1.451 2.99 3.257.483-2.354 2.3.537 3.243-2.891-1.541-2.915 1.541zm2.915-2.76l1.485.782-.285-1.656 1.2-1.15-1.657-.241-.743-1.518-.743 1.483-1.669.242 1.2 1.15-.274 1.69 1.486-.782z'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-img-building {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cpath id='a' d='M.108 5.137h5.15V.522H.109z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(12 16)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23FFD35C' xlink:href='%23a'/%3E%3Cg mask='url(%23b)'%3E%3Cpath fill='%23FF5A1F' d='M-12-16h32v32h-32z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23000' d='M7.686 2.515l-.002 5.408H1.667v14.592h20V2.519L7.686 2.515zM9.76 4.587l9.831.002v15.854h-1.7v-4.338h-6.436v4.338h-1.68L9.76 4.587zM3.742 9.995h3.94L7.68 20.443H3.742V9.995zm8.75 10.448v-3.302h4.36v3.302h-4.36zM11.45 10.377v-1h6.448v1H11.45zm0 2.138v-1h6.448v1H11.45z'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-img-folder {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23FFF' d='M-1056-1356H357v3158h-1413z'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M0 0h50v50H0z'/%3E%3Cpath fill='%23FFD35C' d='M17.917 30.833h2.5v-6.666h-2.5zM29.583 30.833h2.5v-6.666h-2.5z'/%3E%3Cpath fill='%23FFD35C' d='M8.333 26.667H40v-8.334H8.333z'/%3E%3Cpath fill='%23000' d='M15 8.334V15H6.668v26.667h36.665V15h-8.331V8.334H15zM18.335 15h13.333v-3.333H18.334V15zm-8.335 3.332h30v8.335h-6.665v-3.333h-5.002v3.333h-6.665v-3.333h-5v3.333H10v-8.335zM30.001 30h1.666v-5h-1.666v5zm-11.667 0h1.667v-5h-1.667v5zm15 1.665v-3.331h6.665v10h-30v-10h6.668v3.331h5v-3.331h6.665v3.331h5.002z'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-img-star {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18'%3E%3Cdefs%3E%3Cpath id='a' d='M8 11.953l4.635 2.797-1.23-5.273L15.5 5.93l-5.393-.457L8 .5 5.893 5.473.5 5.93l4.095 3.547-1.23 5.273z'/%3E%3C/defs%3E%3Cuse fill='%23FFCA4F' fill-rule='evenodd' transform='translate(1 1)' xlink:href='%23a'/%3E%3C/svg%3E");
}
